<%
  # Partial user_listing_entry
  # locals: ue => friend, follower 
 %>
          <li class="user_listing_entry">
            <div>
              
              <div class="ule_img">
                <img src="<%= ue.profile_image_url -%>" width="25" height="25">
              </div> <!-- ule_img -->
              
              <div class="ule_text">
                <%= link_to ue.name, url_for(:action => "show", :id => ue.id) %>
                <br/>
                <span class="user_short_info">
                  follow: <%= ue.followers_count %> /
                  friend: <%= ue.friends_count %> /
                  <%= ue.lang %>
                  <a class="lnk" href="#">[+]</a>
                </span>
              </div><!-- ule_text -->
              
            </div>
          </li>