<%
  # Partial user_listing_entry
  # locals: ue => friend, follower 
 %>
          <li id="ule_<%= ue.id -%>" class="user_listing_entry">
            <div class="ule_short">
              
              <div class="ule_img">
                <img src="<%= ue.profile_image_url -%>" width="25" height="25">
              </div> <!-- ule_img -->
              
              <div class="ule_text">
                <%= link_to ue.name, url_for(:action => "show", :screen_name => ue.screen_name) %>
                <br/>
                <span class="user_short_info">
                  follow: <%= ue.followers_count %> /
                  friend: <%= ue.friends_count %> /
                  <%= ue.lang %>
                </span>
              </div><!-- ule_text -->
              
            </div> <!-- ule_short -->
            
            <div id="ule_all_<%= ue.id -%>" class="ule_all" style="display: none;">
              <% unless ue.status.nil? -%>
                <table>
                  <tr>
                    <td>HashTags</td>
                    <td><%= join_hash_tags(ue.status.entities.hashtags) -%></td>
                  </tr>
                  <tr>
                    <td>Mentions</td>
                    <td><%= join_mentions(ue.status.entities.user_mentions) -%></td>
                  </tr>
                  <tr>
                    <td><%= short_date(ue.status.created_at) %></td>
                    <td><%= ue.status.text%></td>
                  </tr>
                </table>
              <% end -%>
            </div> <!-- ule_all -->
          </li>