<div id="outer_container">
  
  <div id="menu">
    <%= render :partial => "user" if (current_user) %>
    <%= render :partial => "login" unless (current_user) %>
  </div>
  
  <div id="content">
    <div id="left">
      <ul>
        <% @followers.each() do |f| -%>
          <li style="list-style-image: url(<%= f.profile_image_url -%>);"> <%= f.name %></li>
        <% end -%>
      </ul>
    </div> <!-- left -->
    <div id="middle">
      <% unless current_user.nil? %>
      <p>
        <img src="<%= current_user["image"] %>">
        <%= current_user["nickname"]  %>
      </p>
      <% end -%>
    </div>
    <div id="right">
      <ul>
        <% @friends.each() do |f| -%>
          <li style="list-style-image: url(<%= f.profile_image_url -%>);"><%= f.name %></li>
        <% end -%>
      </ul>
    </div>
  </div> <!-- content -->
  
</div> <!-- outer_container -->