
    <div id="left">
      <h1>Followers</h1>
      <ul class="user_listing">
        <% @followers.each() do |f| -%>
          <%= render :partial => "user_listing_entry", :locals => {:ue => f} %>
        <% end -%>
      </ul>
    </div> <!-- left -->
    <div id="middle">
      <div id="user">
        <% unless @user.nil? %>
        <p id="user_heading">
          <img src="<%= @user.profile_image_url -%>" width="80" height="80">
          <h1><%= @user.name  %></h1>
          
        </p>
        <p>
          <ul class="user_tweets">
            <% @user_tweets.each() do |t| -%>
            <li><%= t.text %></li>
            <% end -%>
          </ul>
        </p>
      </div>
      <% end -%>
    </div>
    <div id="right">
      <h1>Friends</h1>
      <ul class="user_listing">
        <% @friends.each() do |f| -%>
           <%= render :partial => "user_listing_entry", :locals => {:ue => f} %>
        <% end -%>
      </ul>
    </div>
