
    <div id="left">
      <h1>Followers</h1>
      <ul class="user_listing">
        <% @followers.each() do |f| -%>
          <%= render :partial => "user_listing_entry", :locals => {:ue => f} %>
        <% end -%>
      </ul>
    </div> <!-- left -->
    <div id="middle">
      <div id="user">
        <% unless @user.nil? %>
        <p id="user_heading">
          <img src="<%= @user.profile_image_url -%>" width="80" height="80">
          <h1><%= @user.name  %></h1>
          
        </p>
        <p>
          <table id="user_tweets">
            <% @user_tweets.each() do |t| -%>
            <tr>
              <td class="ut_timestamp"><%= short_date(t.created_at) -%></td>
              <td>
                <% link_mentions_helper(t.text, t.created_at).each() do |t| %>
                  <%= t -%>
                <% end %>
                <p style="font-size: x-small;">
                  <% t.entities.user_mentions.each() do |m| -%>
                    @<%= link_to m.screen_name, :id => m.id %>
                  <% end unless t.entities.user_mentions.empty? %>
                </p>
              </td>
            <% end -%>
            </tr>
          </table>
        </p>
      </div>
      <% end -%>
    </div>
    <div id="right">
      <h1>Friends</h1>
      <ul class="user_listing">
        <% @friends.each() do |f| -%>
           <%= render :partial => "user_listing_entry", :locals => {:ue => f} %>
        <% end -%>
      </ul>
    </div>
