<!DOCTYPE html>
<html>
<head>
  <title>TwitterCrawler</title>
  <%= stylesheet_link_tag    "application" %>
  <!-- < %= javascript_include_tag "application" % >-->
  <%= csrf_meta_tags %>
</head>
<body>
<div id="outer_container">
  
  <div id="menu">
    <%= render :partial => "user" if (current_user) %>
    <%= render :partial => "login" unless (current_user) %>
  </div>
  
  <div id="content">
    <%= yield %>
  </div> <!-- content -->
</div>  <!-- outer_container -->
</body>
</html>
